---
import NavLink from "./ui/NavLink.astro";
---

<header>
  <nav
    aria-label="Navegación principal"
    class="flex flex-row gap-4 w-full justify-end pt-4 px-8 border-b border-primary"
  >
    <NavLink href="#inicio" label="Inicio" />
    <NavLink href="#coleccion" label="Colección" />
    <NavLink href="#resenas" label="Reseñas" />
    <NavLink href="#contacto" label="Contacto" />
  </nav>
</header>
