---
interface Props {
  href: string;
  label: string;
}

const { href, label } = Astro.props;
---

<a
  class="text-secondary font-decorative text-4xl transition-colors duration-250 hover:text-primary px-4 py-2"
  href={href}
>
  {label}
</a>
